<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153049248445-3fhuu7jmni30h15la5b4picsf40pc9f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153049248445-3fhuu7jmni30h15la5b4picsf40pc9f5</string>
	<key>API_KEY</key>
	<string>AIzaSyCAbEjuM5OSSFVExYQFwc4CqJiYWxKArxc</string>
	<key>GCM_SENDER_ID</key>
	<string>153049248445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dchainconnect.bookrabbit</string>
	<key>PROJECT_ID</key>
	<string>book-a-rabbit</string>
	<key>STORAGE_BUCKET</key>
	<string>book-a-rabbit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153049248445:ios:5cf127b6aa455433b3fdd4</string>
</dict>
</plist>